- heading "New Order"

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5
            PLACE AN ORDER
            %small It's fast, secure and confidential
          .ibox-tools
        .ibox-content
          = render 'form'
