= heading "Upload Paper"
.row
  .col-md-12
    .portlet
      .portlet-header
        %h3
          %i.fa.fa-book
          Paper Details
      / /.portlet-header
      .portlet-content
        .row
          = render 'form'
        / /.row
      / /.portlet-content
