- heading "Add FAQ"

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            %h5 Add FAQ
            .ibox-tools
          .ibox-content
            = render 'form'
