- heading "New Quote"
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            %h5 New Quote
            .ibox-tools
          .ibox-content
            = render 'form', order: @order, invoice: @invoice
