- unless admin_signed_in?
  / Go to www.addthis.com/dashboard to customize your tools
  %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5719ebc995ba4502", :type => "text/javascript"}
