%body
  %header.navbar.navbar-default.navbar-static-top
    .pull-left
      = link_to root_path, class: "btn btn-primary btn-lg", style: "color: #ffffff" do
        %i.fa.fa-chevron-left>
        Back to Homepage
    .pull-right
      %ul.brands.brands-inline.brands-md.brands-circle.main
        %li
          = link_to "https://facebook.com/papersmarketplace", target: "_blank" do
            %i.fa.fa-facebook
        %li
          = link_to "https://twitter.com/papersmarket", target: "_blank"  do
            %i.fa.fa-twitter
        %li
          = link_to "https://plus.google.com/u/3/b/114642804548545185768/+Papersmarketplacedotcom",  target: "_blank"  do
            %i.fa.fa-google-plus
