.widget.p-lg.text-center
  .m-b-md
    %i.fa.fa-certificate.fa-4x
    %h4.m-xs 100% Original Work
    %p
      Every paper delivered by our writers is unique, plagiarism free and absolutely authentic.
      It is written from scratch to meet your requirements and academic needs.
.widget.p-lg.text-center
  .m-b-md
    %i.fa.fa-user-secret.fa-4x
    %h4.m-xs Private And Secure
    %p
      Information about your order is will never be shared with any third parties. You can trust us!
.widget.p-lg.text-center
  .m-b-md
    %i.fa.fa-briefcase.fa-4x
    %h4.m-xs Money Back Guarantee
    %p
      Quality of our services and 100% satisfaction of our clients are ensured by our money back policy.
      Your satifaction is our aim.
