= form_tag essays_path, method: :get do
  .col-lg-8.col-sm-8.search-col.relative
    %i.fa.fa-book.fa-append
    = text_field_tag :query, params[:query], class: "form-control has-icon", placeholder: "Search by title or description.."
  .col-lg-4.col-sm-4.search-col
    = button_tag(type: 'submit', class: "btn btn-primary btn-search btn-block", name: nil) do
      %i.fa.fa-search
      %strong Find
