- heading "How it Works"

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 How it works
          .ibox-tools

        .ibox-content.ibox-heading
          %h3 Its simple as 1-2-3!
          %small
            %i.fa.fa-gavel
            Placing an order with us has never been this simple and straight-forward.
        .ibox-content.inspinia-timeline
          .timeline-item
            .row
              .col-xs-3.date
                %i.fa.fa-pencil
                STEP 1
              .col-xs-9.content.no-top-border
                %p.m-b-xs
                  %strong FILL IN OUR SIMPLE ORDER FORM
                %p
                  It has never been easier to place your order. From the dashboard, click the 'Order Now' button or from the
                  navigation menu, under Orders, click the 'New Order' link. This will take you to the main order form where
                  you will be prompted to fill in the requirements of your order. Our system will intuitively guide you through
                  all steps of ordering process. Submit detailed paper instructions and upload necessary files if needed
                  – you are almost done!

          .timeline-item
            .row
              .col-xs-3.date
                %i.fa.fa-paypal
                STEP 2
              .col-xs-9.content
                %p.m-b-xs
                  %strong PROCEED WITH THE PAYMENT
                %p
                  All your payments are processed securely through PayPal. This enables us to guarantee a 100% security of
                  your funds and process payments swiftly.
          .timeline-item
            .row
              .col-xs-3.date
                %i.fa.fa-user-plus
                STEP 3
              .col-xs-9.content
                %p.m-b-xs
                  %strong WRITER ASSIGNMENT
                %p
                  Next, we match up your order details with the most qualified freelance writer in your field. This process
                  can take a few minutes up to a few hours. However, it highly depends on your deadline. Most of the time,
                  we will assign your writer as quickly as possible to ensure that your order is completed on time.
          .timeline-item
            .row
              .col-xs-3.date
                %i.fa.fa-newspaper-o
                STEP 4
              .col-xs-9.content
                %p.m-b-xs
                  %strong EDITING AND PROOFREADING
                %p
                  Once your order is completed, it is checked by an editor for spelling, grammar, plagiarism, context and
                  adherence to your initial instructions. This allows to increase an overall quality of the paper and decrease
                  the necessity of revision to a minimum.
          .timeline-item
            .row
              .col-xs-3.date
                %i.fa.fa-truck
                STEP 5
              .col-xs-9.content
                %p.m-b-xs
                  %strong DELIVERY
                %p
                  Once finished, your final paper will be available for download on the specific order page. You will
                  also receive an email notification with a copy of your paper attached to it. Sometimes, support team may
                  leave a note for you about the order in case there is any additional information that they need to give you.

