// Place all the styles related to the admin/students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.user-time{
  font-size: 10px;
  display: block;
  line-height: 18px;
  font-weight: 400;
}
