- heading "Upload Paper"
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            %h5 Upload Paper
            .ibox-tools
          .ibox-content
            = render 'form'
