- heading "Blog Posts"
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 Blog Posts
          .ibox-tools
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                = link_to "Add Post", new_admin_post_path
        .ibox-content
          %table#posts.table{"data-source" => "#{admin_posts_url(format: "json")}"}
            %thead
              %tr
                %th Title
                %th Category
                %th Published
                %th Created On
                %th Actions
            %tbody
              - if @posts.any?
                = render @posts
              - else
                %tr
                  %td{:colspan => "4"} No posts found
