%section.content-full.bg-color-2
  .container.error
    .error-number 500
    .error-text
      %h1 INTERNAL SERVER ERROR
      %p
        The server encountered something unexpected that din't allow it to complete the request. We apologize.
        You can go back to our #{link_to "Homepage", root_path}
