%section.content-full.bg-color-2
  .container.error
    .error-number 404
    .error-text
      %h1 PAGE NOT FOUND
      %p
        The page you are looking for might have been removed, had its
        name changed or no longer exist. Go back to our #{link_to "Homepage", root_path}
