%section.content-full.bg-color-2
  .container.error
    .error-number 422
    .error-text
      %h1 REQUEST REJECTED
      %p
        The change you wanted was rejected. Maybe you tried to access something you don't have access to.
        Go back to our #{link_to "Homepage", root_path}
