- heading "Edit Category"
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            %h5 Create Category
            .ibox-tools
          .ibox-content
            = render 'form'
