- heading "Paper Formats"
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 Paper Formats
          .ibox-tools
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                = link_to "Add Style", new_admin_referencing_style_path
        .ibox-content
          - if @styles.any?
            %table.table
              %thead
                %tr
                  %th Name
                  %th Actions
              %tbody
                = render @styles
          - else
            %p No referecing styles found.
