- heading "New Paper Format"
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            %h5 New Style
            .ibox-tools
          .ibox-content
            = render 'form'
